
<section class='input'>
  {{textarea placeholder="Add a note!" class="input-body"
    value=noteCopy action='newNote' autofocus='true'}}
  <div class='input-preview'>
    {{noteCopy}}
  </div>
</section>

<section class='notes'>
  {{#each note in model}}
    <div class='note'>
      {{note.body}}
      <button class="delete-button" {{action 'deleteNote' note.id}}>Delete</button>
    </div>
  {{/each}}
</section>

{{outlet}}
