<section class='input'>
  <div class='input-text'>
    {{input placeholder="Note Title" class="input-title"
      value=noteTitle autofocus='true'}}
    {{textarea placeholder="Add a note!" class="input-body"
      value=noteBody action='newNote'}}
  </div>
  <div class='input-preview'>
    <h1 class='title-preview'>{{noteTitle}}</h1>
    <p class='body-preview'>{{noteBody}}</p>
  </div>
</section>

<section class='notes'>
  {{#each note in model}}
    {{local-note note=note deleteNote='deleteNote'}}
  {{/each}}
</section>

{{outlet}}
