<section class='input'>
  <div class='input-text'>
    {{input placeholder="Note Title" class="input-title"
      value=noteTitle autofocus='true'}}
    {{textarea placeholder="Add a note!" class="input-body"
      value=noteBody action='newNote'}}
  </div>
  <div class='input-preview'>
    <h1>{{noteTitle}}</h1>
    <p>{{noteBody}}</p>
  </div>
</section>

<section class='notes'>
  {{#each note in model}}
    <div class='note'>
      <button class="delete-button" {{action 'deleteNote' note.id}}>Delete</button>
      <h1>{{note.title}}</h1>
      <p>{{note.body}}</p>
    </div>
  {{/each}}
</section>

{{outlet}}
